1) Boolean data types will have two types of values. They are True and False.
    
syntax : 
print(10 > 9)
print(10 == 9)
print(10 < 9)

2) The three different types of boolean operators are AND,OR,NOT.  They return either True or False depending on the condition.

3) AND truth table

TRUE  TRUE = TRUE
TRUE  FALSE = FALSE
FALSE TRUE = FALSE
FALSE FALSE = FALSE

OR Truth table

TRUE TRUE = TRUE
TRUE FALSE = TRUE
FALSE TRUE = TRUE
FALSE FALSE = FALSE

NOT Truth table

TRUE = FALSE
FALSE = TRUE

# Question 4

In [3]:
(5 < 4) and (3 == 5)

False

In [5]:
not (5 > 4)

False

In [6]:
(5 > 4) or (3 == 5)

True

In [7]:
not ((5 > 4) or (3 == 5))

False

In [8]:
(True and True) and (True == False)

False

In [9]:
(not False) or (not True)

True

# Question 5

5) The six types of comparision operators are

==
!=
>
<
>=
<=

# Question 6

= is a assignment operator. it is used to assign value to a variable.

eg : X = 5
    
== is a relational operator. it is used to compare two values and return either True or False

eg :  int a = 10, b = 4; 
  
    if (a == b) 
        printf("a is equal to b"); 
    else
        printf("a and b are not equal");

# Question 7

In [13]:
spam = 0
if spam == 10:
    print('eggs')
if spam > 5:
    print('bacon')
else:
    print('ham')

ham

# Question 8

In [14]:
spam = 1
if spam == 1:
    print('Hello')
elif spam > 5:
    print('Howdy')
else:
    print('Greetings!')

Hello

# Question 9

If our programme is stuck in an endless loop we can press ctrl-c to terminate the program.

# Question 10

The break statement ends the loop immediately when it is encountered.

The continue statement skips the current iteration of the loop and continues with the next iteration.

# Question 11

In [26]:
for x in range(10):
    print (x)

0
1
2
3
4
5
6
7
8
9

In [27]:
for x in range(0,10):
    print (x)

0
1
2
3
4
5
6
7
8
9

In [28]:
for x in range(0,10,1):
    print (x)

0
1
2
3
4
5
6
7
8
9

# Question 12

In [30]:
for x in range(1,11):
    print (x)

1
2
3
4
5
6
7
8
9
10

In [36]:
x=1
while (x<=10):
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10